{% extends "myapp/base.html" %} 
{% load static %}
{% load custom_filter %}

{% block title %}DevMate{% endblock %} 
{% block style %}<link rel="stylesheet" href="{% static 'styles/user_profile_page.css' %}"/>{% endblock %} 
{% block body_class %}text-[15px] h-full bg-[#010409] text-[#a8b3cf] overflow-x-hidden{% endblock %}

{% block content %}    

    <!-- main section -->
    <div id='entireSection' class="flex flex-col lg:flex-row w-full gap-x-5 lg:gap-x-2">
        <!-- sidenav -->
        {% include "includes/sidenav.html" %}
        
        <!-- Main Content -->
        <div class="flex-1 max-w-5xl mx-auto px-4 sm:px-6 py-6">
            <!-- Recommended Developers Section -->
            {% include 'includes/recommended_developers.html' %}
        </div>
    </div>


{% endblock  %}
